<Header>
    <a href="/" class="header_logo"> Blog Node</a>

    <nav class="header__navbar">
        <ul>
            <li>
                <a href="/" class=""> Home</a>
            </li>
            <li>
                <a href="/category" class=""> category</a>
            </li>
            <li>
                <a href="/about" class=""> About</a>
            </li>
            <li>
                <a href="/contact" class=""> contact</a>
            </li>
        </ul>

    </nav>
    <div class="header__button">
        <input type="text" name="search" id="search" class="searchbar" placeholder="search">
    </div>

</Header>